doctype 5
html
    head
        block head
            title= title
            link(rel='stylesheet', href='/stylesheets/style.css')
            link(rel='stylesheet', href='/stylesheets/bootstrap.min.css')
            script(rel='text/javascript', src='/javascripts/bootstrap.min.js')
            script(rel='text/javascript', src='/javascripts/jquery-1.9.0.min.js')
  body
    block content
